name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, develop ]

jobs:
  pylint:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install

      - name: Analysing the code with pylint
        run: |
          poetry run pylint $(git ls-files '*.py') --fail-under=9

  test:
    needs: pylint
    if: ${{ needs.pylint.result == 'success' }}
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:latest
        env:
          POSTGRES_USER: testuser
          POSTGRES_PASSWORD: testpassword
          POSTGRES_DB: testdb
        ports:
          - "5432:5432"
        options: >-
          --health-cmd "pg_isready -U testuser -d testdb"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.12"

      - name: Install dependencies and run tests
        env:
          MIGRO_DB_HOST: localhost
          MIGRO_DB_PORT: 5432
          MIGRO_DB_USER: testuser
          MIGRO_DB_PASSWORD: testpassword
          MIGRO_DB_NAME: testdb
          MIGRO_DB_TYPE: postgres
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install

          echo "Waiting 5 seconds for postgres to be fully ready..."
          sleep 5

          poetry run pytest --rootdir=tests
